@import '@/assets/styles/main.scss';
.banner-style {
  width: 100%;
}
.banner-style img {
  width: 100%;
}
.product-info {
  width: 100%;
  padding: rem(20) rem(28);
  box-sizing: border-box;
  background: #fff;
  .main-title {
    text-align: left;
    font-size: rem(44);
    color: $color-word;
  }
  .sub-title {
    width: 100%;
    margin-top: rem(15);
    text-align: left;
    font-size: rem(28);
    color: $color-sub;
  }
}
.product-info-form-item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: rem(26) rem(28);
  box-sizing: border-box;
  font-size: rem(28);
  background: #fff;
}
.product-info-form-item::before {
  content: '';
  position: absolute;
  left: rem(28);
  top: 0;
  width: rem(694);
  height: 0;
  border-top: 1px solid $color-border;
}
.product-info-form-item-title {
  max-width: rem(200);
}
.product-info-form-item-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  max-width: rem(550);
  min-width: rem(120);
  .form-item-content {
    text-align: right;
  }
  .icon-style {
    width: rem(60);
    i {
      font-size: rem(28);
      color: $color-primary;
    }
  }
  .value-style {

  }
  .select-value-style {
    padding: rem(10) rem(15);
    box-sizing: border-box;
    border: 1px solid $color-border;
    border-radius: rem(5);
  }
  .radio-box-style {
    display: flex;
    overflow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: rem(160);
    .radio-style {
      padding: rem(15) rem(15);
      box-sizing: border-box;
      border: 1px solid $color-border;
    }
    .radio-active {
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }

}
.select-style {
  width: 100%;
  height: rem(860);
  background: $color-background;
}

.common-title {
  // height: rem(150);
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: rem(100);
  font-size: rem(32);
  color: $color-sub;
  padding: rem(20) rem(27);
  box-sizing: border-box;
  overflow: hidden;
  font-family: PingFangSC-Regular,sans-serif;
  text-align: left;
  background: $color-background;
  i {
    font-size: rem(32);
  }
}
.common-title::before {
  position: absolute;
  left: rem(28);
  bottom: 0;
  content: '';
  width: rem(694);
  height: 0;
  border-bottom: 1px solid $color-border;
}
.module-margin-top {
  margin-top: rem(20);
}

// -----------投保页相关样式-------------------
.insure-item-style {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: rem(28) rem(0);
  box-sizing: border-box;
  border-top: 1px solid $color-border;
  text-align: left;
  font-size: rem(30);
  .left-style {
    width: rem(200);
  }
  .right-style {
    flex: 1;
    .van-cell {
      padding: 0;
      line-height: 0;
    }
    .insure-checked-box {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      width: 100%;
      .insure-check-item {
        height: rem(54);
        padding: rem(0) rem(16);
        box-sizing: border-box;
        line-height: rem(48);
        color: $color-word;
        font-size: rem(28);
        border: 1px solid $color-border;
        border-radius: rem(10);
        margin-right: rem(20);
      }
    }
    .datetime-box-style {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      .datetime-value-style {
        width: rem(360);
      }
      .datetiem-icon-stykle {
        width: rem(60);
      }
    }
    .city-box-style {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      .city-value-style {
        width: rem(360);
      }
      .city-icon-stykle {
        width: rem(60);
      }
    }
    .profression-box-style {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      .profression-value-style {
        width: rem(360);
      }
      .profression-icon-stykle {
        width: rem(60);
      }
    }
    .select-box-style {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      .select-value-style {
        width: rem(360);
      }
      .select-icon-stykle {
        width: rem(60);
      }
    }
  }
  .insure-active-style {
    border: 1px solid $color-primary !important;
    color: $color-primary !important;
  }
}
// .error input::-webkit-input-placeholder {    
//   color: red !important;
// }
// .error input {
//   color: red !important;
// }
// .error span {
//   color: red !important;
// }
// .error >>> .vux-cell-value {
//   color: red !important;
// }
// .error::before {
//   position: absolute;
//   left: -.4rem;
//   content: "";
//   width: .373333rem;
//   height: .373333rem;
//   background: url(../../../../assets/image/sinosig/wddg/error-icon.png) no-repeat;
//   background-size: contain;
//   margin-right: .12rem;
// }
// .error .placeholder {
//   color: red !important;
// }
// .error select {
//   color: red !important;
// }
