@function rem ($px) {
  @return ($px/2) / 12 * 1rem
}

$color-primary: #ff9900;
$color-word: #332500;
$color-sub: #999999;
$color-border: #efefef;
$color-background: #ffffff;
$color-page-background: #f5f5f5;
$color-white: #ffffff;